{% extends "base.html" %}

{% block content %}

  <style>
    /* Formulário Estilos */
    form {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;
      background-color: #ffffff; /* Cor de fundo mais neutra e profissional */
      border-radius: 12px; /* Bordas mais suaves */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave e elegante */
    }

    form h1 {
      font-size: 2rem;
      margin-bottom: 30px;
      text-align: center;
      color: #34495e; /* Cor escura e sóbria para o título */
    }

    /* Tabela Estilos */
    table {
      margin: 0 auto;
      border-collapse: collapse;
      width: 100%;
      max-width: 600px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #ecf0f1; /* Cor clara para cabeçalhos */
      font-weight: bold;
    }

    td {
      background-color: #f9f9f9;
    }

    /* Estilos de Inputs */
    input[type="text"], input[type="number"], select, textarea {
      padding: 12px;
      font-size: 14px;
      border: 2px solid #ddd;
      border-radius: 6px; /* Bordas mais arredondadas */
      width: 100%;
      max-width: 300px;
      margin-bottom: 12px;
      transition: border-color 0.3s ease-in-out;
    }

    input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
      outline: none;
      border-color: #1abc9c; /* Cor suave para o foco */
    }

    /* Botões Estilos */
    .btn {
      background-color: #1abc9c; /* Cor verde suave */
      color: #fff;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 6px; /* Bordas arredondadas */
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn:hover {
      background-color: #16a085; /* Cor mais escura no hover */
      transform: scale(1.05); /* Efeito de aumento suave */
    }

    .btn-secondary {
      background-color: #e74c3c; /* Cor vermelha para o botão de cancelar */
    }

    .btn-secondary:hover {
      background-color: #c0392b; /* Cor vermelha mais escura no hover */
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      gap: 20px; /* Espaço entre os botões */
    }

    /* Mensagens de Erro */
    .error-message {
      color: #e74c3c; /* Cor vermelha para erro */
      font-size: 14px;
      margin-top: 5px;
    }

    a {
      text-decoration: none !important;
    }

  </style>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Editar Serviço</h1>
    <table>
      {{ form.as_table }}
    </table>
    <div class="buttons-container">
      <input type="submit" value="Salvar Alterações" class="btn">
      <a href="{% url 'service_detail' pk=object.pk %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>

{% endblock %}
